*{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    
}

body{
    /* background-color: #D7AD00; */
    /* background-color: #f7e867; */
    background: linear-gradient(to right, #9cdcaa 0%, #e5e1ab 100%);
}


.nav{
    background-color: #a8c78a;
}

.text{
    padding: 2%;
}

.wrap{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    padding: 3%;
}

.container{
    /* background-color:  #d3d1d1; */
    background-color: white;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    padding: 0;
}

 h1{
    text-align: center;
    font-size: 10vh;
    font-weight: 700;
    color: black;
}

h2{
    padding: 2%;
    font-size: 4vh;
}

.container img{
    /* float: right; */
    height: auto;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; */
}

.form{
    background-color: rgb(228, 180, 180);
    width: 100%;
    /* height: auto; */
    /* position: relative; */
    width: 500px;
    /* margin: auto; */
}


@media screen and (max-width: 840px) {
    .container {
        display: none;
    }
  }


  @media screen and (max-width: 600px){
      h1{
          font-size: 7vh;
      }
      .form{
          width: 300px;
      }
  }

.wrap2{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}



#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="address"],
#contact input[type="age"],
#contact input[type="fileupload"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 3%;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}





